@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-01: 'Raleway', Arial, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,html {
    overflow-x: hidden;
}

p {
    line-height: 1.5;
}

span {
    color: #33A8DB;
}

header.banner {
    background-color: #040A0D;
    background-image: linear-gradient(rgba(0, 0, 0, .6), 
    rgba(49, 168, 221, .2),
    rgba(0, 0, 0, .6)),
    url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 600px;
    width: 100%;
    padding: 50px;

    border-bottom: 1px solid #2792cc6f;
}


div.logo {
    background-color: rgba(0, 0, 0, .2);
    max-width: 260px;
    max-height: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
}

div.logo > img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

div.banner-content {
    text-align: center;
    color: white;
    font-family: var(--font-01);
    font-weight: 400;
    text-wrap: 300;
    font-size: 1.2rem;
    width: 100%;
    max-width: 600px;
    margin: auto;
    
}

div.banner-content > h1 {
    color: #2792CC;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.378);
    margin: 10px 10px;
}

div.banner-content > p {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

div.banner-content > button {
    margin: 20px 20px;
    
    background-color: transparent;
    font-size: 1rem;
    color: #31A8DD;
    padding: 12px;
    border-color: #31A8DD;
    outline-color: transparent;

    max-width: 350px;
    height: 60px;

    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.192);
    cursor: pointer;

    &:hover {
        background-color: white;
        transition-duration: 0.3s;
    }
}

main.content {
    background: rgba(0, 0, 0, 50);
    font-family: var(--font-01);
    color: white;
    text-align: center;
    border-bottom: 1px solid #2792cc72;
}

section.course-section {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 20px;
}

section.course-section > h2 {
    color: #33A8DB;
    margin: 5px 0;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 2rem;
}

section.course-section > p {
    margin: 15px 0;
}

section.course-section > button {
    margin: 10px 0;
    width: 100%;
    max-width: 550px;
    height: 55px;
    padding: 10px;
    border-radius: 30px;

    background: #232323;
    color: white;
    border-color: #33A8DB;

    font-size: 1rem;
    font-family: var(--font-01);
    font-weight: light;
    box-shadow: inset -5px 7px 5px rgba(0, 0, 0, 0.129);

    cursor: pointer;

    &:hover {
        background-color: rgb(255, 255, 255);
        color: black;
        transition-duration: .3s;
        font-weight: 700;
    }
}

section.image-section {
    height: 560px;
    background-color: #040A0D;
    background-image: url(images/woman-code.png);
    background-position: top top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px solid #2792cc71;
    border-top: 1px solid #2792cc71;
    padding: 60px 20px;

    display: flex;
    justify-content: start;
    align-items: center;
}

section.image-section > p {
    font-size: 2.5rem;
    font-family: var(--font-01);
    text-shadow: rgb(51, 168, 219) 3px 2px;
    text-transform: lowercase;
    text-wrap: balance;
    font-weight: 900;    
    max-width: 245px;
}

section.image-section-02 {
    border-bottom: 1px solid #2792cc71;
    padding: 60px 20px;
}

section.image-section-02 > h2 {
    text-transform: uppercase;
    color: #33A8DB;
    font-size: 2rem;
    letter-spacing: .3rem;
    max-width: 800px;
    margin: 70px auto;
    padding: 5px;
}

section.image-section-02 > img {
    max-width: 100%;
    display: block;
    margin: auto;
}

section.image-section-02 > p {
    width: 100%;
    max-width: 800px;
    padding: 50px 20px;
    margin: auto;
}

footer {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, .6), 
    rgba(49, 168, 221, .2));
    height: 190px;
    padding: 60px 0px;
    text-align: center;
}

footer > img {
    width: 300px;
}

footer > p {
    color: white;
    font-size: 1rem;
    font-family: var(--font-01);
}

footer > p > a {
    color: #33A8DB;
    font-weight: 700;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}



