@charset "UTF-8";

/* 
0 - 480 = celular
481 - 768 = tablets e celulares maiores
769 - 1279 = laptops e tablets maiores e pequenos desktops
1280 = desktops maiores e monitores
*/

@media screen and (max-width: 480px) {

    div.banner-content > h1 {
        font-size: 1.5rem;
    }

    div.banner-content > p {
        font-size: .8rem;
        width: 300px;
    }

    div.banner-content > button {
        font-size: .5rem;
        width: 150px;
    }
}


