@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,p {
    font-family: 'Roboto';
}

header ul.wrapper {
    padding: 10px;
    margin: 0 10px;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* border: 1px solid black; */
    gap: 25px;
}

header nav ul li {
    display: inline-block;
}

header input[type="text"] {
    min-width: 400px;
    height: 30px;
}

main {
    background: rgb(247, 247, 247);
    padding: 40px 60px;

    display: flex;
    justify-content: space-between;
}

div.video > iframe {
    width: 951px;
    height: 580px;
}

div.video-principal {
    max-width: 952px;
}


div.video-principal > h1 {
    font-family: 'Roboto';
    font-size: 1.25rem;
    margin: 10px 0;
}

div.video-actions > ul {
    max-width: 902px;
    display: flex;
    align-items: center;
    gap: 0 20px
}

div.video-actions > ul > li {
    display: inline-block;

}

div.video-actions > img {
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
}

div.video-principal > h2 {
    font-size: calc(1rem - 2px);
    font-weight: bold;
    margin: 10px 0;
}

div.video-principal > p {
    margin: 10px 0;
    font-size: calc(1rem - 2px);
    color: #515151;
    width: 45%;
}

div.sidebar {
    min-width: 400px;
    min-height: 1000px;
}

div.sidebar > ul.thumb-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 20px 0;
}

div.sidebar > ul.thumb-content > li {
    display: flex;
    list-style-type: none;
    gap: 0px 15px;
}

div.sidebar > ul.thumb-content > li > img {
    width: 100%;
    max-width: 160px;
    display: block;
    object-fit: contain;

    &:hover {
        cursor: pointer;
    }
}

div.content-sidebar {
    max-width: 180px;
}

div.sidebar > ul > li > div.content-sidebar > h1 {
    font-size: 0.875rem; /* 14px */
    margin: 0px 0px 5px 0px;
}

div.sidebar > ul > li > div.content-sidebar > p {
    font-size: 0.75rem; /* 12px */
    margin: 0px 0px 5px 0px;
}


